
.twitter-api-client__results {
  display: block;
}

@media (min-width: 400px) {
  .twitter-api-client__results {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.twitter-api-client__tweet__header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  color: rgb(91, 112, 131);
}

.twitter-api-client__tweet {
  margin: 1rem 0;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 0.8rem;
}

@media screen and (min-width: 400px) {
  .twitter-api-client__tweet {
    width: 48%;
  }
}

@media screen and (min-width: 800px) {
  .twitter-api-client__tweet {
    width: 32%;
  }
}

.twitter-api-client__tweet-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.tweet__author-image-wrapper {
  width: 48px;
  flex-basis: 48px;
  flex-grow: 1;
  margin-right: 12px;
}

.tweet__main {
  width: 60%;
  flex-basis: 80%;
  flex-grow: 2;
}

.tweet__header__author-names {
  margin-right: 0.8rem;
}

.tweet__name {
  margin-right: 0.8rem;
}

a.tweet__name {
  color: black;
}

a.tweet__username, a.tweet_retweet-header__author, .twitter-api-client__tweet__text a {
  color: rgb(91, 112, 131);
}

.twitter-api-client__tweet .tweet__author-image-wrapper img {
  border-radius: 50%;
}

.twitter-api-client__no-results {
  background: #e3748b;
  border-left: 4px solid #e70a2b;
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem;
}

.tweet_retweet-header {
  margin-bottom: 0.6rem;
}

.tweet_retweet-header__icon {
  margin-right: 0.8rem;
}

.twitter-api-client__tweet__media {
  margin-left: 2em;
  max-width: 80%;
  height: auto;
  border: 1px solid rgb(91, 112, 131);
  border-radius: 2em;
}
