{{ attach_library('twitter_api_client/tac_front_end') }}
<div class="twitter-api-client-block">
  {% if feed_found %}
    <div class="twitter-api-client__meta"><strong>{{ meta.result_count }} most recent tweets:</strong></div>
    <div class="twitter-api-client__results">
      {% for item in items %}
      {{ item }}
      {% endfor %}
    </div>
  {% else %}
    <div class="twitter-api-client__no-results">No feed found</div>
  {% endif %}
</div>
