{#
/**
 * @file
 * Default theme implementation to display a tweet.
 *
 * Available variables:
 * - author_id
 * - author_object
 * - created_at
 * - id
 * - primary_image
 * - image_path
 * - media
 * - retweet_author_id
 * - retweet_author_object
 * - retweet_object
 * - text
 * - users
 * - attachments
 *
 * @ingroup themeable
 */
#}
<div class="twitter-api-client__tweet">
  <div class="twitter-api-client__tweet-wrapper">
    <div class="tweet__author-image-wrapper">
      <img class="tweet__author-image" src="{{ author_object.profile_image_url }}"
           alt="{{ author_object.name }} Twitter profile image">
    </div>
    <div class="tweet__main">
      {% if retweet_object %}
        <div class="tweet_retweet-header">
          <img src="{{ image_path }}/retweet.png" alt="Retweet icon" class="tweet_retweet-header__icon"/>
          <a href="https://twitter.com/{{ retweet_author_object.username }}" class="tweet_retweet-header__author">{{ retweet_author_object.name }} Retweeted</a>
        </div>
      {% endif %}
      <div class="twitter-api-client__tweet__header">
        <div class="tweet__header__author-names">
          <a href="https://twitter.com/{{ author_object.username }}/status/{{ id }}" class="tweet__name" target="_blank">
            {{ author_object.name }}
          </a>
          <a href="https://twitter.com/{{ author_object.username }}/status/{{ id }}" class="tweet__username" target="_blank">
            @{{ author_object.username }}
          </a>
        </div>
        <div class="tweet__header_date">{{ created_at }}</div>
      </div>
      <p class="twitter-api-client__tweet__text">{{ text }}</p>
      {% if primary_image and primary_image.url %}
        <img class="twitter-api-client__tweet__media" src="{{ primary_image.url }}" alt="Tweet media"/>
      {% endif %}
    </div>
  </div>
</div>
